/* Container chung của form */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

/* Tiêu đề form */
h2 {
    
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Các nhóm trong form */
.form-group {
    margin-bottom: 15px;
    background-color: white !important;
}

/* Nhãn của các input */
.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
 
}

/* Các input và textarea */
.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: white !important;
    color: black;
}

/* Các nút submit */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
}

/* Đổi màu nút khi hover */
button[type="submit"]:hover {
    background-color: #45a049;
}

/* Căn giữa các file upload */
input[type="file"] {
    width: 100%;
    background-color: white !important;
    border: none;
}


/* Khoảng cách giữa các input */
.form-group input,
.form-group select,
.form-group textarea {
    margin-bottom: 10px;
}
