.container {
    margin-top: 50px;

    border-radius: 10px;
    margin-bottom: 70px;
}

.alert-success {
    font-size: 20px;
    max-width: 500px;
    color: rgb(48, 59, 224) !important;
    width: auto;
    text-align: center;
    background-color: blanchedalmond !important;
}

.title-name {
    padding: auto;
    margin-top: 10px;
  text-align: center;
}

.form-update {
    background-color: blanchedalmond !important;

    display: flex;

    height: 500px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.title-h1 {
    margin-top: 50px;
    margin-left:400px;
}

.body-form {
    margin-top: 150px;
    margin-left: -250px;
}
.form-control{
    background-color: aliceblue !important;
    color: black !important;
    border-radius: 10px !important;
}
.form-img{
    margin-top: 10px;
    border-radius: 5px;
}

.form-add {

    padding: 20px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    border-radius: 10px;

    background-color: blanchedalmond;
   

}
.color-panner{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
  .form-control {
        max-width: 500px;

    }
    .form-body {
        margin-top: 50px;
        margin-left: 300px;
    }
  
    .text-name {
        margin-top: 20px;
    }
    
